@use '../../../../../../../../assets/styles/responsive' as *;

.ams365-add-confirm {
  .create-txt {
    font-weight: bold;
    font-size: 1rem;
    margin-block: 2.5rem 0;
    color: var(--light-text-three);
  }
  .content {
    @include from(x) {
      padding-left: 100px;
    }
  }
}

::ng-deep.ams365-add-confirm {
  adf-reading {
    .heading-voucher {
      display: none;
    }
  }
}
