<ngx-spinner></ngx-spinner>

<main [ngClass]="[customShow, 'byte-container transfers ach-form-container']">
  <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate"> </adf-alert>

  <adf-form-layout [setLayoutJson]="transferFormLayout" [setDataSelectList]="optionList" [form]="transferForm"> </adf-form-layout>

  <div class="byte-container-ci__button">
    <adf-button class="primary" [value]="'t.continue' | translate" (click)="nextStep()"> </adf-button>
    <adf-button class="secondary" type="secondary" [value]="'toReturn' | translate" (click)="lastStep()"> </adf-button>
  </div>
</main>
