<div class='value-content'>

  <div class="value-item div1">
    <p class="value"> {{account}} </p>
  </div>

  <div class="value-itemAndTitle div2">
    <p class="value"><label class="label-item">{{"label.accountName.sv" | translate}}</label> {{nameAccount}}</p>
  </div>

  <div class="value-item div3">
    <label class="label-item">{{"type-account:" | translate}}</label>
    <p class="value"> {{typeAccount | translate | uppercase}} </p>
  </div>

  <div class="value-item div4">
    <label class="label-item">{{"state-sv" | translate}}</label>
    <p class="value"> {{statusAccount}} </p>
  </div>

  <div class="value-itemAndTitle div5">
    <p class="value"><label class="label-item">{{"Alias:" | translate}}</label> {{getAliasAccount}} </p>
  </div>

  <div class="value-item div6">
    <label class="label-item">{{"currency-sv"|translate}}</label>
    <p class="value"> {{currencyAccount}} </p>
  </div>

  <div class="value-item div7">
    <label class="label-item">{{"email:" | translate}}</label>
    <p class="value"> {{emailAccount}} </p>
  </div>

</div>
