::ng-deep.ach-form-container adf-reading {
  #reading-container {
    --padding-block-end-sm: 5.5rem;
    --padding-block-end-md: 5.5rem;
  }
    .icon-check.checkbox:checked + .icon-widget {
      background-color: unset !important;
    }

    .icon-check.checkbox:checked + label::before {
      color: var(--primary-color);
    }

    .widget-content,
    .widget-content label {
      cursor: pointer;
    }
    .is_favorite {
      label::before {
        color: var(--primary-color);
      }
      .icon-check.checkbox:checked + label::before {
        background-color: transparent !important;
        color: rgb(155, 155, 155) !important;
      }
      .icon-widget:checked {
        background-color: transparent !important;
        color: transparent !important;
      }
    }
  }
