<div class="modal-header" style="border: none">
</div>
  <div class="text-modal-container">
    <div class="title">
      <div class="modal-logo">
        <img alt="logo" src="assets/images/logos/{{profile}}_bp_logo_{{versionAssets}}.png">
    </div>
      <h5 color="red">{{'for-your-security' | translate }}
      </h5>
    </div>
    <div class="information-text">
      <span class="subtitle">
        {{'for-your-security-message' | translate }}
        <br>
        {{'for-your-security-message_2' | translate }}
      </span>
    </div>
  </div>
