<div class="modal-body">
    <div class="float-right">
        <a (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="content">
        <div class="images">
            <img alt="{{profile}}_logo" src="assets/images/logos/{{profile}}_logo_{{assetsVersion}}.png" class="secondary_logo">
            <img alt="{{profile}}_bp_logo" src="assets/images/logos/{{profile}}_bp_logo_{{assetsVersion}}.png"  [ngClass]="[profile == typeProfile ? 'main_logo' : '' ]">
        </div>

        <h2 class="reference">No. {{information?.reference}}</h2>
        <h2 *ngIf = "currentLanguage === 'en' && information.type === 'CREDITO' ">CREDIT NOTE</h2>
        <h2 *ngIf = "currentLanguage === 'en' && information.type === 'DEBITO' ">DEBIT NOTE</h2>
        <h2 *ngIf = "(currentLanguage === 'es' || !currentLanguage)">{{'label.statements.detail-title' | translate}} {{information?.type}}</h2>

        <hr />

        <div class="row information-detail">
            <div class="col-12">
                <label>{{'label.statements.concept' | translate}}</label>
                <span class="value">{{information?.concept}}</span>
            </div>
            <div class="col-12">
                <label>{{'label.statements.date-modal' | translate}}</label>
                <span class="value">{{information?.date}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.account-type' | translate}}</label>
                <span class="value">{{information?.typeAccount}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.account-name' | translate}}</label>
                <span class="value">{{information?.name}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.account-number' | translate}}</label>
                <span class="value">{{information?.account}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.account' | translate}}</label>
                <span class="value">{{information?.alias}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.agency' | translate }}</label>
                <span class="value">{{information?.agency}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.address' | translate }}</label>
                <span class="value">{{information?.address}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.reason' | translate }}</label>
                <span class="value">{{information?.reasonCode}} - {{information?.reason}}</span>
            </div>
            <div class="col-12">
                <label>{{ 'label.statements.observations' | translate }}</label>
                <span class="value">{{information?.observation}}</span>
            </div>
        </div>

        <hr />
        <div class="row information-detail">
            <div class="col-3"></div>
            <div class="col-12 col-lg-9 detail">
                <label>{{'label.statements.description' | translate}}</label>
                <span class="value">{{information?.description}}</span>
            </div>
            <div class="col-3"></div>
            <div class="col-12 col-lg-6 detail">
                <label>{{'label.statements.value' | translate}}</label>
                <span class="value">{{information?.currency}} {{information?.amount}}</span>
            </div>
            <div class="col-3"></div>
        </div>


        <hr />

        <div class="d-flex justify-content-center documentation-section">
            <div>
                <div class="documentation-info">
                    <span>{{'label.statements.document' | translate}}: {{information?.reference}}</span>
                </div>
                <div class="documentation-detail">
                    <p class="no-margins"><span class="note-title">{{ 'label.statements.document.note' | translate}}:</span>
                        {{ 'label.statements.document.note-1' | translate}}</p>
                    <p class="no-margins">{{'label.statements.document.note-2' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- default -->
            <div class="col-12 d-none d-lg-block">
                <table aria-describedby="table1" class="table custom-table footer-table">
                    <thead>
                        <tr>
                            <th id="issue-date" class="no-borders" style="width: 33%;">{{ 'label.term-deposit.issue-date' | translate}}:
                                {{issueDate}}</th>
                            <th id="copy-by" class="no-borders" style="width: 33%;">{{'label.statements.copy-by' | translate}} <span
                                    style="text-transform: uppercase;">{{issueUser}}</span></th>
                            <th id="authorization" class="no-borders" style="width: 33%;"> {{'authorization'| translate}} {{information?.ref}}</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- mobile -->
            <div class="col-12 d-lg-none">
                <table aria-describedby="table1_mobile" class="table custom-table">
                    <thead>
                        <tr>
                            <th id="issue-date-notes" class="no-borders text-center">{{ 'label.term-deposit.issue-date' | translate}}:
                                {{issueDate}}</th>
                        </tr>
                        <tr>
                            <th id="copy-by-notes" class="no-borders text-center">{{'label.statements.copy-by' | translate}} <span
                                    style="text-transform: uppercase;">{{issueUser}}</span>
                        </tr>
                        <tr>
                            <th id="authorization-notes" class="no-borders text-center">
                                {{'authorization'| translate}} {{information?.ref}}
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <adf-button value="{{'print' | translate}}" type="secondary" (onClick)="download()"></adf-button>
            </div>
        </div>
    </div>
</div>
