<div class="password-period-container">
    <ngx-spinner></ngx-spinner>
    <div>
        <span class="title-password-period">
            {{'title_password_period'| translate}}
        </span>
    </div>
    <div class="text-password-period">
        <span>
            {{'text_password_period'| translate}}
        </span>
    </div>
    <div *ngIf="this.passwordPeriod && this.passwordPeriod.length > 0" class="list-period">
        <mat-radio-group ngDefaultControl [(ngModel)]="periodCode"  aria-labelledby="example-radio-group-label"
        class="example-radio-group">
            <div *ngFor="let period of this.passwordPeriod" style="padding-bottom: 28px;">
                <mat-radio-button class="example-margin" value="{{period.code}}">
                    {{period.description | customDate}}
                    <span>
                        {{period.description | customDateLabel | translate}}
                    </span>
                </mat-radio-button>
                
            </div>
        </mat-radio-group>
    </div>
    <div class="button-set-period">
        <adf-button value="{{'set_period'| translate}}" (onClick)="changePeriod($event)" [isLoading]="loading"></adf-button>
    </div>
    <div  class="adf-alert" *ngIf="this.showAlert">
        <adf-alert [receiverType]="this.typeAler" [receiverMessage]="messageAlert | translate"></adf-alert>
    </div>
</div>
