<div [ngClass]="[customShow, 'byte-container container-donation']">
  <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate"> </adf-alert>
  <adf-form-layout
    [setLayoutJson]="formLayout"
    [setDataSelectList]="optionsList"
    [form]="form"
  >
  </adf-form-layout>
  <div class="byte-container__button">
    <adf-button class="primary" value="{{ 't.continue' | translate }}" (click)="nextStep()"> </adf-button>
    <adf-button class="secondary" type="secondary" value="{{ 'toReturn' | translate }}" (click)="lastStep()">
    </adf-button>
  </div>
</div>
