@use '../../../../../../../../../assets/styles/responsive.scss' as *;


.stkn-bisv-step-1{
  width: 255px;
  height: 54.6px;
  display: grid;
  align-items: center;
  grid-template-columns: 67px 85px 43px 1fr;
  position: relative;
}

.stkn-bisv-step-2{
  width: 255px;
  height: 54.6px;
  position: relative;
  display: grid;
  grid-template-columns: 190px 1fr;
  align-items: center;
}

.stkn-bisv-step-1 .divider1{
  width: 67px;
  height: 0;
  outline: 1px solid #003865;
}

.stkn-bisv-step-1 .divider2{
  width: 100%;
  height: 0;
  outline: 1px solid #E9E9E9;
}



.stkn-bisv-step-1 .divider3{
  width: 100%;
  height: 0;
  outline: 1px solid #E9E9E9;
}

.stkn-bisv-step-1 .icon1{
  font-size: 54px;
  color: #003865;
  position: absolute;
  left: 24%;
}

.stkn-bisv-step-2  .divider2-step2{
  width: 100%;
  height: 0;
  outline: 1px solid #003865;
}

.stkn-bisv-step-2 .icon1-step2{
  font-size: 43px;
  color: #003865;
  position: absolute;
  left: 24%;
}

.stkn-bisv-step-1 .icon2{
  font-size: 43px;
  grid-area: 1 / 3 / 2 / 4;
  color: #003865;
}

.stkn-bisv-step-2 .icon2-step2{
  font-size: 54px;
  color: #003865;
  position: absolute;
  right: 22%;
}

.divider1-step2{
  width: 160px;
  height: 0;
  outline: 1px solid #003865;
}
