@use '../../../../../../../assets/styles/responsive' as *;

.pp-upload__header {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--light-text-three);

  p {
    font: normal normal bold 18px/22px Lato, sans-serif;
    font-size: 18px;
    color: var(--light-text-two);
  }
}

.sp-upload__content::ng-deep {
  h4 {
    color: var(--color-subtitle-sppl);
    font: normal normal bold 18px/22px Lato, sans-serif;
  }
  
  @include from(x) {
    padding-left: 100px;
  }

  adf-reading {
    .heading-voucher {
      display: none;
    }
    .group {
      border-bottom: none !important;
    }
  }
}
.messages-section {
  margin-top: 5%;
  max-width: 50%;
  @media only screen and (max-width: 500px) {
    max-width: 100% !important;

  }
  &.error {
    color: var(--warn-darker-color);
  }

  &.success {
    color: var(--primary-alternative-color);
  }

  .strong {
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}
.ps-sub-title {
  h4 {
    color: var(--color-subtitle-sppl);
    border-bottom: 1px solid var(--light-text-three);
    font: normal normal bold 18px/22px Lato, sans-serif;
    padding-bottom: 8px;
  }

  p {
    margin-top: 1.5rem;

    @include from(m) {
      margin-top: 1.125rem;
    }

    @include from(x) {
      margin-top: 1.5rem;
    }

    color: var(--primary-alternative-color);
    font-size: 14px;
  }
}
.sub1 {
  margin-bottom: -30px;
}
.form-section {
  h3 {
    font: normal normal bold 20px/28px Lato, sans-serif;
    font-size: 20px;
    color: var(--primary-color);
    margin: 0;
  }

  p {
    font: normal normal normal 14px/28px Lato, sans-serif;
    font-size: 14px;
    color: var(--primary-alternative-color);
  }
}
::ng-deep .ps-buttons-container adf-button button.btn {
  @media only screen and (min-width: 700px) {
    //margin: 1rem;
  }
  @media only screen and (max-width: 500px) {
    
    width: 100% !important; 
    height: 60px !important; 
  }
}

::ng-deep.ps-buttons-no-registers {
  @media only screen and (min-width: 769px) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 64px;

  }

  @media only screen and (min-width: 501px) and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end !important;
    width: 100%;
    gap: 1rem;

    adf-button {
      margin-bottom: 16px;
    }
  }

  @media only screen and (max-width: 500px) {
    
    display: flex;
    flex-direction: column-reverse; /* Cambia la dirección de la columna para que el último elemento se muestre primero */
    width: 100%;

    adf-button {
      width: 100%;
      margin-bottom: 16px;
    }
    ::ng-deep.ps-buttons-no-registers adf-button[data-testid="addRegister"] {
      order: -1; /* Coloca este botón primero */
    }
    
    .add-register-btn {
      order: -1; /* Si aún es necesario, coloca este botón primero */
    }
  }
}


.ps-buttons-add-register {
  display: flex;
  justify-content: flex-end !important;
  margin-bottom: 20px;
  @media only screen and (max-width: 500px) {
    width: 100%;

    adf-button {
      width: 100%; 
      margin-bottom: 16px; 
    }
  }
}

.spplm-upload-container .ps-buttons-container {
  display: flex;
  justify-content: flex-end; 
  flex-direction: row; 
  margin-top: 64px;
  
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    display: flex;
    width: 100%;

    adf-button {
      width: 100%; 
      margin-bottom: 16px; 
    }
  }

  @media only screen and (min-width: 768px) {
    gap: 1rem !important;

    adf-button {
        gap: 1rem !important;
      }    
  }
}

.ps-table-container {
  margin-top: 64px;
}

::ng-deep.ach-form-container {
  adf-tooltip {
    i.icon {
      color: var(--primary-alternative-color);
    }

    i.icon:before {
      color: var(--primary-alternative-color);
    }
  }
}

::ng-deep.spplm-upload-container {
  adf-form-layout {
    #form-layout-container {
      --padding-block-start-sm: 0;
      --padding-block-start-md: 0;
      --padding-block-start-x: 0;
    }

    .grid-container {
      display: flex;
      flex-direction: column;
    }

    .custom-grid {
      order: 3;

      adf-button {
        button.btn {
          width: 100%;
        }

        @include from(480px) {
          align-self: flex-end;
          max-width: 240px;
          min-width: 240px;

          button.btn {
            width: 100%;
          }
        }
      }
    }

    .required adf-input-form-layout {
      .input__label:after {
        content: '*';
        color: var(--primary-alternative-color);
      }
    }

    .container-form {
      margin: 0;
      border: none;
    }

    @include from(m) {
      form {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
      }

      .custom-grid {
        align-self: flex-end;
        justify-self: flex-end;
      }

      .grid-item-12 {
        grid-column: span 1;
      }

      .account {
        grid-column: 1;
        grid-row: 1;
      }

      .amount {
        grid-column: 2;
        grid-row: 1;
      }

      .email {
        grid-column: 1;
        grid-row: 2;
      }
      .detail {
        grid-column: 1;
        grid-row: 2;
      }
    }
  }
}
::ng-deep .bisv adf-button button.btn {
  @media only screen and (max-width: 500px) {
    margin-top: 1rem;
    width: 100% !important; 

  }

}

@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}