@use '../../../../../../../assets/styles/responsive.scss' as *;

.f-desktop {
  display: none;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--light-text-three);

  .item:first-child {
    border-right: 1px solid var(--light-text-three);
  }

  .item span:first-child:after {
    content: ':';
  }

  .item span:not(:first-child) {
    color: var(--default-background-color-hover-corporate);
  }

  .item {
    display: flex;
    gap: .4rem;
    justify-content: center;
    padding-block: .5rem;
    font-size: 13px;
    font-weight: bold;
  }

  @include from(480px) {
    display: grid;
  }
}

.f-mobile {
  background-color: #505050;
  padding: .8rem 1rem;
  color: var(--primary-color-text-menu);
  display: flex;
  flex-direction: column;
  gap: .8rem;

  & > span {
    padding-left: .5rem;
    font-size: 1rem;
  }

  .f-mbottom, .f-mtop {
    display: grid;
    grid-template-columns: 120px 1fr;
    text-transform: uppercase;
  }

  .f-mtop {
    background-color: #909090;
    padding: .5rem;
    border-radius: 10px;

    p {
      margin: 0;
    }
  }

  .f-mbottom {
    padding-left: .5rem;
  }

  @include from(480px) {
    display: none;
  }
}
