<footer>
  <div class='f-desktop'>
    <div class='item'>
      <span> {{ label1 | translate }} </span>
      <span> {{ currency }}  {{ value1 }} </span>

    </div>
    <div class='item'>
      <span> {{ label2 | translate }} </span>
      <span> {{ value2 }} </span>
    </div>
  </div>

  <div class='f-mobile'>
    <span> {{ label3 | translate }} </span>
    <div class='f-mtop'>
      <p>
        <span>{{ label1 | translate}}</span>
        <span> {{ currency}} </span>
      </p>

      <span> {{ value1 }} </span>
    </div>
    <div class='f-mbottom'>
      <span> {{ label2 | translate }} </span>
      <span> {{ value2 }} </span>
    </div>
  </div>
</footer>
