<ngx-spinner></ngx-spinner>
<article [ngClass]="[customShow, 'byte-container transfers ach-tm365-voucher']">
  <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate"> </adf-alert>
  <adf-header
    subtitle='tm365:label_subtitle_home'
    label='ach:bisv:label_home'
    logoUrl='assets/images/private/ach/logo_transfer_365.svg'
    width='140px'
    height='40px'
  ></adf-header>
  <section class='content'>
    <adf-reading [data]='voucherLayout'></adf-reading>
    <adf-table [useVirtualScroll]="userVirtualScrollInTable" [structure]='tableStructure'></adf-table>
    <byte-tm365-footer
      label1='tm365:label_total_amount'
      label2='tm365:label_total_credits'
      label3='tm365:label_total'
      [value1]='total'
      [value2]='credits'
      [currency]='currency'
    ></byte-tm365-footer>

    <byte-adf-transfer-footer
      title='ach:bisv:label_important'
      descriptionEl='ach:bisv:label_ach_footer'
    ></byte-adf-transfer-footer>
  </section>

  <div [ngClass]="['byte-container__button_v2']">
    <adf-button
      *ngIf='isShowNextButton'
      id="next"
      class="primary"
      value="{{ nextButtonMessage | translate }}"
      (click)="nextStep()">
    </adf-button>
    <adf-button
      id="prev"
      class="secondary"
      type="secondary"
      value="{{ 'toReturn' | translate }}"
      (click)="previous()"> </adf-button>
  </div>
  <adf-confirmation-headband *ngIf="isShowHeadBand" [headbandLayout]="headbandLayout"></adf-confirmation-headband>
</article>
