@use '../../../../../../../../assets/styles/responsive' as *;

.acm-ach-update {
  .content {
    @include from(x) {
      padding-left: 100px;
    }
  }
}

::ng-deep.acm-ach-update {
  adf-form-layout {
    adf-select {
      select:disabled {
        cursor: not-allowed;
        border: 1px solid #ccd0d5 !important;
        color: #676a6c !important;
        background-color: #f8f8f8 !important;
      }

      select:disabled::placeholder {
        color: #676a6c !important;
      }
    }

    .container-form {
      margin: 0;
      border: none;
    }

    .checkbox-am-ach {
      display: flex;
      align-items: flex-end;
    }

    .checkbox-am-ach .checkbox-form-layout {
      padding-block: 12px;
      flex-direction: row-reverse;
      gap: 1rem;
      justify-content: flex-end;

      label {
        margin: 0;
      }
    }

    .no_account {
      display: flex;
      align-items: center;
    }

    .custom-grid {
      display: none;
    }
  }
}
