@use '../../../../../../../../assets/styles/responsive' as *;

.acm-ach-create {
  .content {
    @include from(x) {
      padding-left: 100px;
    }
  }
}

::ng-deep.acm-ach-create {
  adf-form-layout {
    .container-form {
      margin: 0;
      border: none;
    }

    .checkbox-am-ach {
      display: flex;
      align-items: flex-end;
    }

    .checkbox-am-ach .checkbox-form-layout {
      padding-block: 12px;
      flex-direction: row-reverse;
      gap: 1rem;
      justify-content: flex-end;

      label {
        margin: 0;
      }
    }
  }
}
