<div class="container-stoken">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="fa fa-times">
      </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="icon-modal">
      <div class="icon-container">
        <i class="icon-soft-token-success"></i>
      </div>
    </div>
    <h1 class="modal-title">{{'stoken-method-secu' | translate}}</h1>
    <p class="description">{{'stoken-descrip-modal' | translate}}</p>
    <div class="input-token">
      <input type="text" id="iToken" placeholder={{placeHolder}}>
    </div>
  </div>

  <div class="modal-footer">
    <adf-button class="modal-onboarding" id="prev" [value]="'t.continue' | translate" (click)="close()"> </adf-button>
  </div>
</div>


