<main [ngClass]="['byte-container crud-signature transfers']">
  <div class="table-content">
    <div class="heading">
      <h2 class="main-title">{{ 'signature_tracking' | translate }}</h2>
      <h3 class="subtitle">{{ 'title.signature' | translate }}</h3>
    </div>
    <adf-table
      [isShowMessageByEmptyRegisters]='true'
      [emptyMessageHandler]='"message"'
      [isShowHeaders]='true'
      [structure]="tableLayout">
    </adf-table>
  </div>
  <div class="byte-container__button">
    <adf-button id="readingPrimary" type='secondary'  class="primary" [value]="'t.return' | translate" (click)="nextStep()">
    </adf-button>
  </div>
</main>
