<main [ngClass]="[customShow, 'bulk__confirmation-transfer-container byte-container transfers']">
    <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate"> </adf-alert>
    <section class="transfer-flow-container bt-main-content">
      <adf-reading [data]="voucherLayout"></adf-reading>
      <div class='table-content'>
        <adf-table [isScrolled]='true' [structure]="tableLayout"></adf-table>
      </div>
    </section>
    <div [ngClass]="['byte-container-ci__button']">
      <adf-button (click)="nextStep()" class="primary" [value]="'t.confirm' | translate"> </adf-button>
      <adf-button (click)="back()" class="secondary" type="secondary" [value]="'toReturn' | translate"> </adf-button>
    </div>
  </main>
