table tbody td.amount {
  span {
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  .subtitle {
    font-size: 18px !important;
  }
}
