@use '../../../../../../../assets/styles/responsive' as *;

.pp-upload__header {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--light-text-three);

  h1{
    margin-bottom: 0.5rem;
  }

  p {
    font: normal normal bold 18px/22px Lato, sans-serif;

    font-size: 0.938rem;
    @include from(m){
      font-size: 1.25rem;
    }
    @include from(x){
      font-size: 1.125rem;
    }
    color: var(--light-text-two);
  }
}

.pp-upload__voucher {
  @include from(x) {
    padding-left: 100px;
  }
}

.upload-section {
  @include helperUploadSection;
}

::ng-deep.sppl-upload-container {
  adf-upload {
    width: 100%;

    .dropzone-container {
      min-block-size: 0 !important;
    }
  }

  adf-form-layout {
    #form-layout-container {
      --padding-block-start-sm: 0;
      --padding-block-start-md: 0;
      --padding-block-start-x: 0;
    }

    .container-form {
      border: none;
      margin: 0;
    }

    .custom-grid {
      display: flex;
      flex-direction: column;
    }

    @include from(m) {
      .custom-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

  }
}

::ng-deep.sppl-upload-container  ngx-dropzone {
  background-image: repeating-linear-gradient(1deg, #003158, #003158 6px, transparent 6px, transparent 10px, #003158 10px), repeating-linear-gradient(91deg, #003158, #003158 6px, transparent 6px, transparent 10px, #003158 10px), repeating-linear-gradient(181deg, #003158, #003158 6px, transparent 6px, transparent 10px, #003158 10px), repeating-linear-gradient(271deg, #003158, #003158 6px, transparent 6px, transparent 10px, #003158 10px);
  background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;

  --upload-section-bg: hsla(0, 0%, 96%, 1.00);
  block-size: 100px !important;
  border: none !important;
  background-color: var(--upload-section-bg);
  width: 100% !important;

  @include from(x) {
    min-width: 420px !important;
    max-width: 100% !important;
    block-size: 80px !important;
  }
}


::ng-deep.sppl-upload-container  ngx-dropzone.expandable {
  min-height: 80px !important;

  p {
    margin: 0!important;
  }

}

.messages-section {
  &.error {
    color: var(--warn-darker-color);
  }

  &.success {
    color: var(--primary-alternative-color);
  }

  .strong {
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}

.sppl-upload-container .payroll-buttons-container {


  p {
    @include from(x) {
      max-inline-size: 464px !important;
    }

    @include from(m) {
      max-inline-size: 338px;
    }
    max-inline-size: 356px;

  }

  display: flex;
  flex-direction: column;
  margin-top: 64px;

  @include from(m) {
    flex-direction: row;
    justify-content: space-between;

    &.success-file {
      justify-content: flex-end;
    }

    &.failed-file {
      justify-content: space-between;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include from(m) {
      flex-direction: row;
      gap: 1rem;
    }

    adf-button {
      height: 50px;

      @include from(m) {
        width: 218px;
      }

      @include from(x) {
        width: 240px;
      }

      .btn {
        width: 100% !important;
        height: 100% !important;
      }
    }

  }
}

.file-uploaded {
  display: flex;
  justify-content: space-between;
  border: 1px solid #C4C4C4;
  width: 100%;
  padding: 12px 14px;
  color: var(--primary-color);
  border-radius: 4px;
  height: 45px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    background-color: transparent;

    i {
      &:before {
        color: var(--primary-color);
      }

      img{
        width: 25px;
        height: 25px;

        @include from(x){
          width: 22px;
          height: 22px;
        }

      }
    }
  }
}

.txt-desktop {
  display: none;

  @include from(m) {
    display: block;
  }
}

.txt-mobile {
  @include from(m) {
    display: none;
  }
}

::ng-deep.upload-section adf-button {

  height: 50px;
  width: 100%;

  @include from(m) {
    width: 218px;
  }

  @include from(x) {
    width: 240px;
  }

 button.btn {
   width: 100% !important;
   height: 100% !important;
 }
}

::ng-deep.pp-upload__voucher {
  adf-reading {
    .main-subtitle {
      margin: 0 !important;
      color: var(--color-subtitle-sppl) !important;
      font-size: 1rem !important;
      padding-bottom: 0.5rem;

      @include from(x){
        font-size: 1.125rem !important;
      }

    }
  }
}
