<article [ngClass]="[customShow, 'byte-container transfers s365-voucher']">
  <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate"> </adf-alert>
  <adf-header
    [label]='titleVoucher'
    [subtitle]='subTitleVoucher'
    logoUrl='assets/images/private/ach/logo_365card.svg'
    width='140px'
    height='40px'
  ></adf-header>
  <section class='content'>
    <adf-reading [data]='voucherLayout'></adf-reading>
    <byte-adf-transfer-footer
      *ngIf='isShowInfoTxt'
      title='ach:bisv:label_important'
      descriptionEl='s365:label_footer_info'
    ></byte-adf-transfer-footer>
  </section>

  <div [ngClass]="['byte-container__button_v2', buttonContainerClassName]">
    <adf-button
      *ngIf='isShowNextButton'
      id="next"
      class="primary"
      value="{{ nextButtonMessage | translate }}"
      (click)="nextStep()">
    </adf-button>
    <adf-button
      id="prev"
      class="secondary"
      type="secondary"
      value="{{ 'toReturn' | translate }}"
      (click)="previous()"> </adf-button>
  </div>
  <adf-confirmation-headband *ngIf='isShowHeadBand' [headbandLayout]='headbandLayout'></adf-confirmation-headband>
</article>
