@use '../../../../../../../assets/styles/responsive' as *;

.buttons-content {
  margin-bottom: 20px;

  @include from(550px) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  @include from(m) {
    padding: 0 100px;
  }

  @include from(x) {
    padding: 0;
  }
}

.full-buttons-content {
  margin-top: 20px;

  @include from(550px) {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
}

::ng-deep.buttons-content, ::ng-deep.full-buttons-content {
  adf-button {
    margin: 0;
  }

  button.btn {
    margin: 0;
    inline-size: 100%;
  }

  @include from(550px) {
    button.btn {
      inline-size: 240px;
    }
  }
}


::ng-deep.history-home__buttons {
  @include from(sm) {
    button.btn, adf-button {
      width: 240px !important;
      max-width: 240px !important;
    }
  }

}




.transaction-history-container {
  .table-content {
    @include from(x) {
      padding-left: 100px;
    }
  }

  @include from(1600px) {
    min-height: 600px;
  }
}

::ng-deep.transaction-history-container {
  adf-table {
    .table-head__mobile th, .table-body-row__mobile td:not(.serviceDescription) {
      padding: .7rem 0 .7rem 0;
    }

    .table-body-row__mobile td.serviceDescription {
      padding-left: 0;
    }


    .table-body-row__mobile .selected-cell {
      span {
        max-width: max-content;
        text-decoration: underline;
        font-weight: bold;
      }
    }

    #table-container {
      --mobile-table-maxBloSize: 500px;
      --row-size: 100px 150px 1fr 80px 150px 1fr;

    }
  }
}

::ng-deep.home-view {
  adf-form-layout {
    #form-layout-container {
      --padding-block-end-x: 9.5rem;
    }
  }
}


.widgets {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-text-three);

  span {
    margin-right: 10px;
    font-weight: bold;
  }

  i {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 2px;
    cursor: pointer;
  }
}
