<ngx-spinner></ngx-spinner>
<div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="sendPassword()" autocomplete="off">
      <div class="title">
        <h5>{{'sp.password' | translate}}
          <i aria-hidden="true" class="icon banca-regional-pregunta color-icon" (click)="openModal()"></i>
        </h5>
        <p>{{'sp.define-password'| translate}}</p>
      </div>
      <div style="margin-top: 18px;" class="subtitle" [ngClass]="{ 'subtitle-corporate': corporateImageApplication()}">
          {{'sp.current.password' | translate}}

          <span class="alert-error" *ngIf="changePasswordForm.controls['OldPassword'].errors?.['required'] && changePasswordForm.controls['OldPassword'].touched">
              {{'sp.required' |translate}}
          </span>
      </div>
      <!-- OLD PASSWORD -->
      <adf-input *ngIf="profile !== 'bisv'" placeholder="{{'sp.passw' | translate}}" [type]=this.typePassword required formControlName="OldPassword" [autoFocus]='true'
      [control]="oldPasswordControl"  [maxlength]="this.maxLength" [id]="'OldPassword'" [imaskOptions]="maskPassword">
          <div error *ngIf="changePasswordForm.controls['OldPassword'].errors && !changePasswordForm.controls['OldPassword'].errors['required']">
              <span>{{ this.errorToShow(changePasswordForm.controls['OldPassword'].errors) | translate}}</span>
          </div>
      </adf-input>

      <!-- OLD PASSWORD - SV -->
      <adf-input *ngIf="profile === 'bisv'" placeholder="{{'sp.passw' | translate}}" [type]=this.typePassword required formControlName="OldPassword"
      [control]="oldPasswordControl"  [maxlength]="this.maxLengthSv" [id]="'OldPassword'" [imaskOptions]="maskPassword" (ngModelChange)="this.blacklistValidationOldPasswordSV()">
          <div error *ngIf="changePasswordForm.controls['OldPassword'].errors && !changePasswordForm.controls['OldPassword'].errors['required']">
              <span>{{ this.errorToShow(changePasswordForm.controls['OldPassword'].errors) | translate}}</span>
          </div>
      </adf-input>

      <div style="margin-top: 11px;" class="subtitle" [ngClass]="{ 'subtitle-corporate': corporateImageApplication()}">
          {{'sp.access-password' | translate}}

          <span class="alert-error" *ngIf="changePasswordForm.controls['NewPassword'].errors?.['required'] && changePasswordForm.controls['NewPassword'].touched">
              {{'sp.required' |translate}}
          </span>
      </div>
      <!-- NEW PASSWORD -->
      <adf-input *ngIf="profile !== 'bisv'" placeholder="{{'sp.set-your-password' | translate}}" [type]=this.typePassword required formControlName="NewPassword"
      [control]="newPasswordControl" [maxlength]="this.maxLength" [id]="'NewPassword'" (ngModelChange)="this.blacklistValidation()"
                 [imaskOptions]="maskPassword">
          <div error *ngIf="changePasswordForm.controls['NewPassword'].errors && !changePasswordForm.controls['NewPassword'].errors['required']">
              <span>{{ this.errorToShow(changePasswordForm.controls['NewPassword'].errors) | translate}}</span>
          </div>
      </adf-input>

      <!-- NEW PASSWORD - SV-->
      <adf-input *ngIf="profile === 'bisv'" placeholder="{{'sp.set-your-password' | translate}}" [type]=this.typePassword required formControlName="NewPassword"
      [control]="newPasswordControl" [maxlength]="this.maxLengthSv" [id]="'NewPassword'" (ngModelChange)="this.validationPasswordSv(undefined)"
                 [imaskOptions]="maskPassword">
          <div error *ngIf="changePasswordForm.controls['NewPassword'].errors &&
                            !changePasswordForm.controls['NewPassword'].errors['required'] &&
                            !changePasswordForm.controls['NewPassword'].errors['minlength']">
              <span>{{ this.errorToShow(changePasswordForm.controls['NewPassword'].errors) | translate}}</span>
          </div>
      </adf-input>
      <div class="container-password" *ngIf="profile === 'bisv' && hasError && passwordResponseList.length > 0">
        <div class="container-password-labels">
            <div *ngFor="let data of passwordResponseList">
                <img alt="check" src="assets/images/iconos/checkmark.png" class="password-success" *ngIf="data.isValid">
                <img alt="unmark" src="assets/images/iconos/unmark.png" *ngIf="!data.isValid" class="password-error">
                <span class="password-labels">
                    {{data.label}}
                </span>
            </div>
        </div>
      </div>

      <div style="margin-top: 15px;" class="subtitle" [ngClass]="{ 'subtitle-corporate': corporateImageApplication()}">
          {{'sp.confirm-password' | translate}}

          <span class="alert-error" *ngIf="changePasswordForm.controls['duplicatePassword'].errors?.['required'] && changePasswordForm.controls['duplicatePassword'].touched">
              {{'sp.required' |translate}}
          </span>
      </div>
      <!-- REPEAT NEW PASSWORD -->
      <adf-input *ngIf="profile !== 'bisv'" placeholder="{{'sp.confirm-password' | translate}}" [type]=this.typePassword required formControlName="duplicatePassword"
      [control]="duplicatePasswordControl" [maxlength]="this.maxLength" [id]="'duplicatePassword'" [imaskOptions]="maskPassword">
          <div error *ngIf="changePasswordForm.controls['duplicatePassword'].errors && !changePasswordForm.controls['duplicatePassword'].errors['required']">
              <span>{{ this.errorToShow(changePasswordForm.controls['duplicatePassword'].errors) | translate}}</span>
          </div>
      </adf-input>

      <!-- REPEAT NEW PASSWORD -SV -->
      <adf-input *ngIf="profile === 'bisv'" placeholder="{{'sp.confirm-password' | translate}}" [type]=this.typePassword required formControlName="duplicatePassword"
      [control]="duplicatePasswordControl" [maxlength]="this.maxLengthSv" [id]="'duplicatePassword'" [imaskOptions]="maskPassword">
          <div error *ngIf="changePasswordForm.controls['duplicatePassword'].errors && !changePasswordForm.controls['duplicatePassword'].errors['required']">
              <span>{{ this.errorToShow(changePasswordForm.controls['duplicatePassword'].errors) | translate}}</span>
          </div>
      </adf-input>

      <div class="progress-bar-margin">
          <div class="bar-progress barra mr-auto row" >
              <div class="col-7" style="margin-right: 18px;">
                  <div class="progress">
                      <div *ngIf="profile !== 'bipa' && profile !== 'bisv'" class="progress-bar veryLow" role="progressbar"
                      [ngClass]="{'veryLow': this.progressBar() === 'veryLow',
                                  'low': this.progressBar() === 'low',
                                  'half': this.progressBar() === 'half',
                                  'high': this.progressBar() === 'high',
                                  'hard': this.progressBar() === 'hard'
                              }"
                       aria-valuemax="100">
                       </div>
                       <div *ngIf="profile === 'bipa' || profile === 'bisv'" class="progress-bar veryLow-two" role="progressbar"
                      [ngClass]="{'veryLow-two': this.progressBar() === 'veryLow',
                                  'low-two': this.progressBar() === 'low',
                                  'half-two': this.progressBar() === 'half',
                                  'high-two': this.progressBar() === 'high',
                                  'hard-two': this.progressBar() === 'hard'
                              }"
                       aria-valuemax="100">
                       </div>
                  </div>
              </div>
            <span class="text-bar">{{'sp.security.' + this.progressBar() | translate}}</span>
          </div>
      </div>
      <br>
    </form>
    <div [ngClass]="['buttons', profile != hnProfile ? 'btn_sv' : '']">
        <adf-button value="{{'sp.return'| translate}}" (click)="return()" type="secondary">
        </adf-button>
        <adf-button value="{{'sp.set-password'| translate}}" (click)="sendPassword()" class="primary">
        </adf-button>
    </div>
    <div style="margin-top: 15px" *ngIf="this.showAlert && this.resCode !== '889'; else alertModal">
        <adf-alert [receiverType]="this.typeAlert"  [receiverMessage]="this.messageAlert | translate"></adf-alert>
    </div>

    <ng-template #alertModal>
        <div style="margin-top: 15px" *ngIf="this.showAlert" (click)="openModal()">
            <adf-alert [receiverType]="this.typeAlert"  [receiverMessage]="this.messageAlert | translate"></adf-alert>
        </div>
    </ng-template>
</div>
