@use '../../../../../../../../../assets/styles/responsive' as *;

::ng-deep.ach-form-container adf-form-layout {
  adf-select {
    select:disabled {
      cursor: not-allowed;
      border: 1px solid #ccd0d5 !important;
      color: #ccd0d5 !important;
      background-color: #f8f8f8 !important;
    }
    select:disabled::placeholder {
      color: #ccd0d5 !important;
    }
  }

  adf-tooltip {
    .label {
      min-width: 150px;
      white-space: normal;
      z-index: 10;
      pointer-events: none;
    }

    @include from(400px) {
      .label {
        min-width: max-content;
        white-space: nowrap;
      }
    }
  }
}
