<div class="content_voucher_upd">
  <div class="title_upd_voucher">
    <h1 class="h1_update">{{'data_update' | translate}}</h1>
    <span class="upd_confirmation">{{"confirmation" | translate}}</span>

  </div>

  <div class="text_content_upd">
    <div class="icon_div_upd">
      <span class="icon-modal icon banca-regional-success icon_class_upd"></span>
    </div>
      <h2 class="upd_sucess">{{"upd_succes" | translate}}</h2>
      <h3 class="upd_leyend">{{"leyend_back" | translate}}</h3>
  </div>
  <div class="byte-container_button_upd">
    <adf-button
      id="bPrimary"
      class="voucher_upd"
      type="secondary"
      (click)="goHome()"
      value="{{ 'notfound.gohome' | translate }}"
    >
    </adf-button>
  </div>
  </div>
