<article [ngClass]='["byte-container", "sppl-confirm-container", customShow]'>

    <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate">
    </adf-alert>
  
    <header class='pp-upload__header'>
      <h1>{{ "ps:title" | translate }}</h1>
      <p>{{ "ps:manual_subtitle" | translate }}</p>
    </header>
  
    <section *ngIf='isLoadFileView' class='sppl-confirm__content'>
      <div class='title_content'>
        <h3> {{ 'ps:label_upload_file' | translate }} </h3>
      </div>
      <p> {{ 'ps:label_confirm_upload_file' | translate }} </p>
      <div class='sppl-items'>
        <div>
          <span class='item-title'> {{ 'total_amount' | translate }} </span>
          <span class='item-value'> {{ totalAmount }} </span>
        </div>
  
        <div>
          <span class='item-title'> {{ 'ps:total_accounts_accredit' | translate }} </span>
          <span class='item-value'> {{ credits }} </span>
        </div>
      </div>
    </section>
  
    <section class='manually-container s' *ngIf='!isLoadFileView'>
        <div class='ps-sub-title sub1'>
            <h4> {{ 'ps:form-manual' | translate }} </h4>
          </div>      
        <adf-reading [data]='voucherLayout'></adf-reading>
      

      <div class='form-section'>
          <h4> {{ 'ps:title_form-manual-detail' | translate }} </h4>
      </div>
      
      <byte-psm-table [tableHeaders]='tableHeaders' [registers]='registers'></byte-psm-table>
    </section>
  
    <div [ngClass]='["ps-buttons-container"]'>
      <adf-button data-testid="secondary" type='secondary' [value]='"ps:btn.back" | translate' (click)='previous()' ></adf-button>
    </div>
  </article>
  