@use '../../../../../../../assets/styles/responsive' as *;

.ca-ach-home {
  hr {
    border-color: var(--light-text-three);
  }

  .add-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
  }

  .table-content {
    margin-top: 12px;
  }

  @include from(x) {
    .content {
      padding-left: 100px;
    }
  }
}

::ng-deep.ca-ach-home {
  adf-table {
    .td-empty {
      color: var(--primary-color);
    }

    .iconInTable span.loading {
      animation: pulse 1s infinite alternate !important;
    }

    .iconInTable span.active {
      color: var(--primary-color) !important;
    }

    .statusParsed.activa {
      color: #38c172;
    }

    .statusParsed.inactiva {
      color: #c91b1b;
    }
  }
}

@keyframes pulse {
  0%, 100% {
    color: var(--light-text-three);
  }
  50% {
    color: var(--primary-color);
  }
}
