@use '../../../../../../../assets/styles/responsive' as *;

::ng-deep.spp-container {
    adf-table {
        .estadoCuenta.error,
        .estadoCuenta.inactive,
        .estadoCuenta.inactiva,
        .estadoCuenta.blocked,
        .estadoCuenta.bloqueada,
        .estadoCuenta.cancelled,
        .estadoCuenta.cancelada {
          color: var(--warn-color) !important;
          text-transform: uppercase;

        }
    
        .estadoCuenta.Activa,
        .estadoCuenta.active,
        .estadoCuenta.activa {
          color: var(--alert-success-color) !important;
          text-transform: uppercase;
        }

        .estadoCuenta.Active{
          color: var(--alert-success-color) !important;
          text-transform: uppercase;
        }
    
        .correo{
          word-break: break-all;
          overflow: initial;
        }

        .detalle{
            //word-break: break-all;
            overflow: initial;
          }
      
    
        .scrolled-table{
          max-block-size: 650px !important;
        }
    
      }

  adf-form-layout {
    @media only screen and (max-width: 500px) {
      .select-attributes .nameAccount {
        margin: 0;
        display: flex;
        flex-direction: row !important;
        gap: .5625rem;
      }
    }
   
    .source-account_selector {
      margin-top: calc(40px - 0.9375rem);
    }

    .grid-container {
      @include from(x) {
        padding-left: 100px;
      }
    }

    .form_label{
      gap: 0 !important;
    }

  }

  .table-container {
    @include from(x) {
      padding-left: 100px;
    }
  }
}

.ps-buttons-container.payment-home {
  justify-content: flex-end;
  margin: 64px 0;
}

hr {
  border-color: var(--light-text-three);
}
::ng-deep .ps-buttons-container adf-button button.btn {
  @media only screen and (max-width: 500px) {
    width: 100% !important;
    height: 60px !important; 
  }
}

::ng-deep .ps-buttons-container {
  margin-top: 8% !important;

  @include from(m) {
    display: flex;
    justify-content: flex-end;
    padding-left: 100px;
    gap: 32px;
  }

  @include to(sm) {
    display: flex;
    flex-direction: column; 
    gap: 16px; 
    width: 100%; 

    adf-button[data-testid="next"] {
      order: 1; 
    }

    adf-button[data-testid="secondary"] {
      order: 2; 
    }

    adf-button {
      width: 100%; 

      button.btn {
        height: 60px;
        width: 100% !important;
      }
    }
  }
}
