<h2 *ngIf="product.accounts.length > 0 || this.url === '03'"><span class="highlight"
    *ngIf="!singleProduct">{{product.name | translate }}<span class="highlight" *ngIf="this.profile === 'banpais'">: </span></span>
  <span class="color-title subtitle" *ngIf="this.profile === 'banpais'">{{ 'currency_' + product.currency | translate }}</span>
</h2>
<!-- desktop -->

<div class="" *ngIf="product.accounts.length > 0 || this.url === '03'">
  <table aria-describedby="fix term section" class="table custom-table table-striped" *ngIf="!isMobile">
    <thead>
      <tr>
        <th id="account-or-alias" class="text-uppercase">{{ 'label.home.account-or-alias' | translate }}</th>
        <th id="name" class="text-uppercase">{{ 'label.home.name' | translate }}</th>
        <th id="available-balance" class="text-uppercase total-width">{{ 'label.home.available-balance' | translate }}</th>
        <th id="value" class="text-uppercase total-width">{{ 'label.home.value' | translate }}</th>
        <th id="issue-date" class="text-uppercase">{{ 'label.home.issue-date' | translate }}</th>
        <th id="due-date" class="text-uppercase">{{ 'label.home.due-date' | translate }}</th>
        <th id="options" class="text-uppercase">{{ 'label.home.options' | translate }}</th>
      </tr>
    </thead>
    <td colspan="7" style="padding: 24px 0px 0px 0px;" *ngIf="product.accounts.length === 0 && this.url === '03'">
      <adf-alert [receiverType]="'info'"
        [receiverMessage]="emptyMessage | translate : {currency: this.translate.instant('currency_' + this.product.currency)}">
      </adf-alert>
    </td>
    <tbody>
      <tr *ngFor="let account of product.accounts">
        <td headers="account-or-alias" class="text-uppercase">
          <a *ngIf="this.profile !== 'bipa'" (click)="goToBalance(account)">{{account.alias}}</a>
          <a *ngIf="this.profile === 'bipa'" (click)="goToBalance(account)">{{account.mask}}</a>
        </td>
        <td headers="name" [ngClass]="{'text-danger': account.status !== 'Activa'}" class="">{{account.name}}</td>
        <td headers="available-balance" [ngClass]="{'text-danger': account.availableAmount < 0}" class="amount with-currency notranslate">
          <div>
            {{account.currency}}
            <span>{{account.availableAmount | customNumber }}</span>
          </div>
        </td>
        <td headers="value" [ngClass]="{'text-danger': account.totalAmount < 0}" class="amount with-currency notranslate">
          <div>
            {{account.currency}}
            <span>{{account.totalAmount | customNumber }}</span>
          </div>
        </td>
        <td headers="issue-date">{{account.issueDate}}</td>
        <td headers="due-date">{{account.dueDate}}</td>
        <td headers="options" class="overflow-hidden">
          <div ngbDropdown container="body" placement="left-top">
            <span ngbDropdownToggle style="cursor: pointer;"><i aria-hidden="true" class="icon banca-regional-opciones"></i></span>
            <ul ngbDropdownMenu class="account-options">
              <li>{{ 'label.home.account-statements' | translate }}</li>
              <li ngbDropdownItem (click)="goToStatement(account)">
                {{ 'label.home.balance-and-movements' | translate}}
              </li>
              <ng-container *ngIf="product.product === ProductEnum.FIX_TERM">
                <li ngbDropdownItem (click)="goToProjectionInterests(account)">
                  {{ 'label.home.interests-projection' | translate}}
                </li>
              </ng-container>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr *ngIf="product.accounts.length === 0" style="height: 12px;">
      </tr>
      <tr *ngIf="product.accounts.length > 0">
        <td headers="account-or-alias">{{ 'label.home.total' | translate }}</td>
        <td headers="name"></td>
        <td headers="available-balance" [ngClass]="{'text-danger': product.totalAvailable < 0}" class="amount with-currency notranslate">
          <div class="">
            {{product.currency}} <span>{{product.totalAvailable | customNumber}}</span>
          </div>
        </td>
        <td headers="value" [ngClass]="{'text-danger': product.totalAmount < 0}" class="amount with-currency notranslate">
          <div class="">
            {{product.currency}} <span>{{product.totalAmount | customNumber}}</span>
          </div>
        </td>
        <td colspan="3"></td>
      </tr>
    </tfoot>
  </table>
</div>


<!-- mobile -->
<div class="" *ngIf="product.accounts.length > 0 || this.url === '03'">
  <table aria-describedby="fix term section mobile" class="table custom-table" *ngIf="isMobile">

      <td colspan="7" style="padding: 24px 0px 0px 0px;" *ngIf="product.accounts.length === 0 && this.url === '03'">
        <adf-alert [receiverType]="'info'"
          [receiverMessage]="emptyMessage | translate : {currency: this.translate.instant('currency_' + this.product.currency)}">
        </adf-alert>
      </td>

    <ng-container *ngFor="let account of product.accounts; let index = index">
      <thead>
        <tr>
          <th id="account-or-alias-mobile" class="text-uppercase">{{ 'label.home.account-or-alias' | translate }}</th>
          <th id="value1" *ngIf="this.profile !== 'bipa'"  class="text-uppercase"><a (click)="goToBalance(account)">{{account.alias}}</a></th>
          <th id="value2" *ngIf="this.profile === 'bipa'"  class="text-uppercase"><a (click)="goToBalance(account)">{{account.mask}}</a></th>
        </tr>
      </thead>

      <tbody>
        <tr [ngClass]="{'even': index % 2 === 0, 'odd': index % 2 !== 0}">
          <td class="text-uppercase">{{ 'label.home.name' | translate }}</td>
          <td [ngClass]="{'text-danger': account.status !== 'Activa'}">{{account.name}}</td>
        </tr>
        <tr [ngClass]="{'even': index % 2 === 0, 'odd': index % 2 !== 0}">
          <td class="text-uppercase">{{ 'label.home.available' | translate }}</td>
          <td [ngClass]="{'text-danger': account.availableAmount < 0}" class="text-uppercase">{{account.currency}}
            <span class="float-right">{{account.availableAmount | customNumber }}</span>
          </td>
        </tr>
        <tr [ngClass]="{'even': index % 2 === 0, 'odd': index % 2 !== 0}">
          <td class="text-uppercase">{{ 'label.home.total' | translate }}</td>
          <td [ngClass]="{'text-danger': account.totalAmount < 0}" class="text-uppercase">{{account.currency}}
            <span class="float-right">{{account.totalAmount | customNumber }}</span>
          </td>
        </tr>
        <tr [ngClass]="{'even': index % 2 === 0, 'odd': index % 2 !== 0}">
          <td class="text-uppercase">{{ 'label.home.issue-date' | translate }}</td>
          <td class="">{{account.issueDate}}</td>
        </tr>
        <tr [ngClass]="{'even': index % 2 === 0, 'odd': index % 2 !== 0}">
          <td class="text-uppercase">{{ 'label.home.due-date' | translate }}</td>
          <td class="">{{account.dueDate}}</td>
        </tr>
        <tr [ngClass]="{'even': index % 2 === 0, 'odd': index % 2 !== 0}">
          <td class="text-uppercase">{{ 'label.home.options' | translate }}</td>
          <td class="overflow-hidden text-right">
            <div ngbDropdown container="body" placement="left-top">
              <span ngbDropdownToggle style="cursor: pointer;"><i aria-hidden="true" class="icon banca-regional-opciones"></i></span>
              <ul ngbDropdownMenu class="account-options">
                <li>{{ 'label.home.account-statements' | translate }}</li>
                <li ngbDropdownItem (click)="goToStatement(account)">
                  {{ 'label.home.balance-and-movements' | translate}}
                </li>
                <ng-container *ngIf="product.product === ProductEnum.FIX_TERM">
                  <li ngbDropdownItem (click)="goToProjectionInterests(account)">
                    {{ 'label.home.interests-projection' | translate}}
                  </li>
                </ng-container>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </ng-container>

    <tfoot>
      <tr class="table-mobile" *ngIf="product.accounts.length > 0">
        <td colspan="2">
          <span class="total">{{ 'label.home.total' | translate }}</span>
          <div>
            <span class="type-amount text-uppercase">{{ 'label.home.available' | translate }}</span>
            <span [ngClass]="{'text-danger': product.totalAvailable < 0}">{{ product.currency }}</span>
            <span [ngClass]="{'text-danger': product.totalAvailable < 0}" class="float-right">
              {{product.totalAvailable | customNumber}}</span>
          </div>
          <div>
            <span class="type-amount text-uppercase">{{ 'label.home.total' | translate }}</span>
            <span [ngClass]="{'text-danger': product.totalAmount < 0}">{{ product.currency }}</span>
            <span [ngClass]="{'text-danger': product.totalAmount < 0}" class="float-right">{{product.totalAmount |
              customNumber}}</span>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
