<div class="container-fluid container-public"
[ngClass]="{ 'background-corporate': corporateImageApplication()}">
  <div class="sub-container">
    <adf-alert *ngIf="showAlert" receiverType="error" [receiverMessage]="this.messageAlert | translate"></adf-alert>

    <div
      class="form-parent recover-password-opacity-banpais"

      *ngIf="{'recover-password-opacity': corporateImageApplication()}"
      style="background: none"
    >
      <div class="card form-card">
        <div>
          <button mat-icon-button (click)="reverse()" style="float: right; color: #ffffff">
            <span class="fas fa-times"> </span>
          </button>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <h1>
                {{ 'did_you_forget_your_password' | translate }}
              </h1>

              <div class="first-paragraph">
                <div *ngIf="!isMobileTwo">
                  <p *ngIf="this.showText">
                    {{ 'first_paragraph_recover_password' | translate }}
                    <a [href]="'tel:' + this.phoneNumber">{{ this.phoneNumber | customPhone }}.</a>
                  </p>
                </div>

                <div *ngIf="isMobileTwo">
                  <p *ngIf="this.showText">{{ 'first_paragraph_recover_password-mobile-one' | translate }}</p>
                  <p *ngIf="this.showText">
                    {{ 'first_paragraph_recover_password-mobile-two' | translate }}
                    <a [href]="'tel:' + this.phoneNumber">{{ this.phoneNumber | customPhone }}.</a>
                  </p>
                </div>
              </div>

              <div class="input-wrapper" *ngIf="this.showButton">
                <adf-input
                  label=""
                  placeholder="{{ 'label.username' | translate }}"
                  [type]= this.typeUsername
                  formControlName="username"
                  [control]="formUserName"
                  [imaskOptions]="this.mask"
                  [maxlength]=25
                >
                  <i aria-hidden="true" prefix class="icon banca-regional-usuario-34 i-icon"></i>
                  <div class="container-errors" error>
                    <span *ngIf="loginForm.controls['username'].errors?.['required']">{{ 'required' | translate }}</span>
                    <span  *ngIf="loginForm.controls['username'].errors?.['customError']">{{ loginForm.get('username')!.getError('customError') }}</span>
                    <span  *ngIf="loginForm.controls['username'].errors?.['unregisteredUser']">{{loginForm.get('username')!.getError('unregisteredUser')}}</span>

                  </div>
                </adf-input>
              </div>
            </div>
            <div class="buttons" *ngIf="this.showButton">
              <div>
                <button mat-stroked-button (click)="this.recoverPassword('mobile')" class="send mobile-button">
                  <i aria-hidden="true" class="icon banca-regional-celular icon-recover" style="font-size: 22px"></i>
                  <span class="text-button">
                    {{ 'send_new_password_to_cell_phone' | translate }}
                  </span>
                </button>
              </div>
              <div>
                <button mat-stroked-button (click)="this.recoverPassword('mail')" class="send">
                  <i aria-hidden="true" class="icon banca-regional-mensaje icon-recover" style="font-size: 22px"></i>
                  <span class="text-button">
                    {{ 'send_new_password_to_email' | translate }}
                  </span>
                </button>
              </div>
            </div>

            <div class="row" *ngIf="!this.showButton">
              <i
                aria-hidden="true"
                style="font-size: xxx-large; margin-top: 23px; margin-left: 29px"
                [ngClass]="{
                  'banca-regional-mensaje-texto': this.typeRecover === 'mobile',
                  'banca-regional-mensaje': this.typeRecover !== 'mobile'
                }"
              ></i>
              <div class="type-recover">
                <div style="padding-top: 8px">
                  {{ 'first_confirmation_text_recover_password' | translate }}
                  {{ this.typeRecover | translate }}:
                </div>
                <div style="padding-top: 20px; font-weight: bold">
                  {{ this.passwordChangeResponse }}
                  {{ (this.typeRecover === 'mobile' ? 'send_mobile' : 'send_mail') | translate }}
                </div>
                <div style="padding-top: 20px">
                  {{ 'third_confirmation_text_recover_password' | translate }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

