.container-public {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100% !important;
}

h1 {
  color: #ffffff;
  font: normal normal bold 27px/33px var(--font-family) !important;
}

p {
  font-size: 16px;
}

.row {
  border: 1px solid #ffffff !important;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 151px;
  max-width: 806px;
  font: normal normal normal 16px/19px Lato, sans-serif;
}

.i-icon {
  font-size: 20px;
  margin-left: 20px;
  color: var(--input-placeholder-color);
}

.type-recover {
  float: right;
  width: 71%;
  padding-left: 27px;
  margin: 17px 0px;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.form-parent > div {
  border-radius: 8px;
  background: none;
  &::before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
  }
}

.background-corporate {
  background-image: none !important;
  background-color: white !important;
  min-height: 100% !important;
}

.corporate-image {
  :host ::ng-deep button.send:hover {
    background-color: var(--login-button-background-color) !important;
    color: var(--color-navbar) !important;
    border-color: var(--login-button-background-color) !important;
  }
}

.recover-password-opacity > div {
  background-color: var(--box-color-login) !important;
  &::before {
    mix-blend-mode: normal;
  }
}

.recover-password-opacity-banpais > div {
  &::before {
    mix-blend-mode: multiply;
  }
}

.form-card {
  max-width: 726px;
}

.card-body {
  position: relative;
}

:host ::ng-deep adf-input > div > label {
  font: normal normal bold 20px/24px var(--font-family);
  letter-spacing: 0px;
  color: var(--text-primary-color) !important;
}

:host ::ng-deep adf-button > button {
  margin-left: 0px;
  margin-top: 10px;
  width: 100% !important;
}

:host ::ng-deep adf-input input {
  height: 50px !important;
  padding-left: 75px !important;
  font: normal normal normal 16px/19px var(--font-family);
}

.footer-login {
  text-align: left;
  letter-spacing: 0px;
}

.form-parent-alert > div {
  margin-top: 2%;
}

.send {
  color: var(--text-primary-color);
  border: 1px solid #ffffff !important;
  margin-top: 27px;
  width: 100%;
  height: 55px;
}

.icon-recover {
  float: left;
  padding-top: 6px;
  padding-right: 10px;
}

.text-button {
  float: left;
  margin-top: 3px;
  max-width: 78%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.first-paragraph {
  display: inline-flex;
  flex-wrap: nowrap;
  padding-top: 15px;
  // font-size: larger;
  color: var(--text-primary-color) !important;
  font: normal normal normal 20px/24px var(--font-family);
  padding-bottom: 0px;
}

@media (min-width: 992px) {
  .sub-container {
    width: 767px;
  }

  .card-body {
    padding: 0px 43px 36px 43px;
  }

  .mobile-button {
    margin-top: 15px !important;
  }

  .first-paragraph {
    padding-top: 0px !important;
  }

  .text-button {
    font-size: 16px !important;
  }

  .form-card {
    max-width: 947px;
    border-width: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .send {
    margin-top: 16px;
  }

  .buttons {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    width: 90%;
  }

  p {
    font: normal normal normal 14px/17px var(--font-family);
  }

  .send {
    font-size: 14px;
    font-family: var(--font-family);
  }

  .buttons > div:nth-of-type(2) .send .text-button {
    text-align: left;
    line-height: 17px;
    white-space: normal;
  }
}

@media only screen and (max-width: 430px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
    padding-bottom: 100px !important;
  }

  .container-public {
    position: relative;
  }
}

.container-errors{
  height: auto !important;
}