<main [ngClass]="[customShow, 'payment-container byte-container b2b-container']">
  <adf-alert *ngIf="typeAlert && messageAlert" [receiverType]="typeAlert" [receiverMessage]="messageAlert | translate"> </adf-alert>

  <section class="main-content">
    <adf-reading [data]="voucherLayout"></adf-reading>
    <div class="byte-container__button">
      <adf-button
        id="primary"
        class="primary"
        [value]="'print' | translate"
        (click)="nextStep()"
      ></adf-button>
      <adf-button class="secondary" id="prev" type="secondary" [value]="'toReturn' | translate" (click)="prevStep()"></adf-button>
    </div>
  </section>
</main>
